{% extends 'base.html.twig' %}

{% block title %}Accueil - Knowledge Learning{% endblock %}

{% block body %}
    <h1 class="text-center text-primary">Bienvenue sur Knowledge Learning</h1>

    <div class="container mt-4">
        <div class="row">
            {% for theme in themes %}
                <div class="col-md-4">
                    <div class="card shadow-sm p-3 mb-4">
                        <div class="card-body">
                            <h5 class="card-title text-dark">{{ theme.name }}</h5>
                            <a href="{{ path('theme_detail', {id: theme.id}) }}" class="btn btn-primary">Voir les cursus</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Aucun thème disponible.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}